<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">masks</i>
                        </div>
                        <p class="card-category">{{RecoveredTitle}}</p>
                        <h3 class="card-title">{{RecoveredStr}}</h3>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">coronavirus</i>
                        </div>
                        <p class="card-category">{{ConfirmedTitle}}</p>
                        <h3 class="card-title">{{ConfirmedStr}}</h3>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cancel</i>
                        </div>
                        <p class="card-category">{{DeathTitle}}</p>
                        <h3 class="card-title">{{DeathStr}}</h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Recovered Cases (in Millions)</h4>
                        <p class="card-category">
                            <span class="text text-success"> {{RecoveredIncStr}} </span> Recovering since last month.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Cases Ratio in %</h4>
                        <p class="card-category">To put the numbers in perspective.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Death Monthly Cases (in Millions)</h4>
                        <p class="card-category">
                            <span class="text text-danger"> {{DeathIncStr}} </span> Death since last month.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header-info card-header">
                        <h4 class="card-title">Countries</h4>
                        <p class="card-category">Countries with most cases</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                            <th>Name</th>
                            <th>Cases</th>
                            </thead>
                            <tbody>

                            <tr (click)="selectCountry(country)"
                                [class.selected]="selectedCountry === country"
                                *ngFor="let country of countries | slice:0:5">
                                <td>{{country.name}}</td>
                                <td>{{numberWithCommas(country.sick)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

