<div class="main-content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Country Table</h4>
                      <p class="card-category"> Here is the table of all countries</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                                  <th [class.active]="order === 'name'"
                                      (click)="setOrder('name')">
                                      Name <span [hidden]="reverse">▲</span
                                  ><span [hidden]="!reverse">▼</span>
                                  </th>
                                  <th [class.active]="order === 'sick'"
                                      (click)="setOrder('sick')">
                                      Sick <span [hidden]="reverse">▲</span
                                  ><span [hidden]="!reverse">▼</span>
                                  </th>
                                  <th [class.active]="order === 'healed'"
                                      (click)="setOrder('healed')">
                                      Healed <span [hidden]="reverse">▲</span
                                  ><span [hidden]="!reverse">▼</span>
                                  </th>
                                  <th [class.active]="order === 'dead'"
                                      (click)="setOrder('dead')">
                                      Dead <span [hidden]="reverse">▲</span
                                  ><span [hidden]="!reverse">▼</span>
                                  </th>
                              </thead>
                              <tbody>
                              <tr *ngFor="let country of countries |  orderBy: order:reverse">
                                  <td>{{country.name}}</td>
                                  <td>{{numberWithCommas(country.sick)}}</td>
                                  <td>{{numberWithCommas(country.healed)}}</td>
                                  <td>{{numberWithCommas(country.dead)}}</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
